{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STocks</title>
</head>
<link rel="stylesheet" href="{% static 'css/style_stock.css' %}">
<body>
  # creat a form 
  # the form show in the frontend with autofrom
  # ticker add and delet in the database
  # submit button to change the frontend


    <main class="main">
        {% for ticker, price in prices.items %}
        <div class="box">
            <div><h2>{{ticker}}</h2> </div>            
            <div><span>{{price}}</span></div>
         </div>
        {% endfor %}




        
    </main>
    
</body>
<script src="{% static 'js/script_stock.js' %}"></script>   
</html>