{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STocks</title>
</head>
<link rel="stylesheet" href="{% static 'css/style_stock.css' %}">
<body>

    <div class="form">
    <form method="POST">
        {% csrf_token %}
        <label for="id_ticker">Ticker:</label>
        {{ form.ticker }}
        <label for="id_domain">Domain:</label>
        {{ form.domain }}
        <button type="submit">Add Stock</button>
    </form>
    
    </div>


    <main class="main">
        {% for ticker, price in prices.items %}
        <div class="box">
            <div><h2>{{ ticker }}</h2></div>            
            <div><span>{{ price }}</span></div>
            <div>
                 {% comment %} <img src="https://logo.clearbit.com/{{ domain }}" alt="Logo von {{ domain }}" width="60"> {% endcomment %}
                <a href="{% url 'remove_stock' ticker %}" style="color:red;">X </a>
            </div>
        </div>
        {% endfor %}
    </main> 

    {% comment %} <img src="https://logo.clearbit.com/{{ obj.domain }}" alt="Logo von {{ obj.ticker }}" width="60"> {% endcomment %}



</body>
<script src="{% static 'js/script_stock.js' %}"></script>   
</html>